* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100wh;
  background-color: black;
}

main {
  height: 100vh;
  background-image: url(../imagens/fundo-madeira.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.smartphone {
  height: 645px;
  width: 320px;
  background-image: url(../imagens/frame-iphone.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.tela {
  position: relative;
  left: 23px;
  width: 275px;
  height: 485px;
  top: 83px;
  background-image: url(../imagens/tela-home.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
